@media (max-width: 1600px) {
  /* For a screen < 960px, this CSS will be read */
  .wraper {
    width: 400px;
  }
}
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .wraper {
    width: 400px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .wraper {
    width: 400px;
  }
}
@media (max-width: 450px) {
  /* For a screen < 540px, this CSS will be read */
  .wraper {
    width: 300px;
  }
}

body {
  background-color: #ecf0f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}
.wraper {
  margin: 0 auto;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
  padding: 10px;
  margin-bottom: 20px;
  border: 10px solid #aaa;
  border-radius: 5px;
  line-height: 1.5;
}
.details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 10px solid #aaa;
  border-radius: 5px;
  line-height: 1.5;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
h1 {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif; //
  color: #3490DE;
}
h2 {
  font-size: 12px;
}
p {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
#avatar {
  border-radius: 50%;
  width: 120px;
}
.profile-social-links {
  display: flex;
  justify-content: space-around !important;
  align-items: center;
}
.profile-lists {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
}
a {
  text-decoration: none;
  color: #555;
}

i {
  font-size: 24px;
  color: #222;
}
i:hover {
  color: #5cccf0;
  font-size: 26px;
}
a:hover {
  color: #5cccf0;
}
.text-bolder {
  font-size: 16px;
  font-weight: bolder;
}
li {
  font-size: 12px;
  font-weight: normal;
}
.list-inline {
  display: flex;
  justify-content: center;
}
.list-inline li {
  display: inline-block;
  margin-right: 30px;
}
.fa {
  display: inline-block;
  text-rendering: auto;
}
.text-center {
  text-align: center;
}
.text-center:hover {
  color: #aaa;
  font-size: 16px;
}
